<h1 id="book-information">Book</h1>

<center><img src="{{ site.baseurl }}/assets/images/book-cover.jpg" height="400px" /></center>

<ul>
  <li>Mathematics For Machine Learning</li>
  <li>Download <a href="https://mml-book.github.io/">Link</a></li>
  <li><a href="https://www.overleaf.com/read/gskfhtxdwtmh">Errata</a></li>
</ul>

<h1 id="references">References</h1>
<ul>
    <li>SaVAnNA Lab (<a href="http://savanna.korea.ac.kr/wp/?page_id=605">link</a>)</li>
    <li>공돌이의 수학정리노트 (<a href="https://angeloyeo.github.io/">link</a>)</li>
    <li>프리드버그 선형대수학 강의 (<a href="https://www.youtube.com/playlist?list=PL9k2wIz8VsfOjzW_nU_yRPFBoyS5C7ttG">link</a>)</li>
    <li>Essense of linear algebra - 3Blue1Brown (<a href="https://www.youtube.com/playlist?list=PLZHQObOWTQDPD3MizzM2xVFitgF8hE_ab">link</a>)</li>
    <li>모두를 위한 컨벡스 최적화 (<a href="https://convex-optimization-for-all.github.io/">link</a>)</li>
</ul>